################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab3.VC.db
/Lab3.VC.VC.opendb
/Lab3/Lab3.vcxproj.user
/Lab3/Lab3.vcxproj.filters
/ipch/LAB3-864cf9e
