################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab3.VC.db
/Lab3.VC.VC.opendb
/Lab3/Lab3.vcxproj.user
/Lab3/Lab3.vcxproj.filters
/ipch/LAB3-864cf9e
/.vs/Lab3/v14
/Lab3/x64/Debug
/x64/Debug
/#Verone
/Debug
/ipch/LAB5-67de24e2
/Lab3/Debug
/Lab3/PVS-Studio-log.dpn
/Lab3/PVS-Studio-log.plog
/Lab5/Debug
/Lab5/app.rc
/Lab5/app.ico
